# Student: Yuying Zhou, Xirong Cao

In [1]:
%load_ext sql

# Creating Database

In [2]:
# creating database
%sql sqlite:///lab1.db3

'Connected: @lab1.db3'

# Q1: Create Table, drop if there exist a table with the same name

In [3]:
%%sql drop table if exists myGraph;
create table mygraph(
    source      int,
    destination int
);

 * sqlite:///lab1.db3
Done.
Done.

[]

# Q2: SQL statements that store the given graph

In [4]:
%%sql
insert into myGraph values(5, 11);
insert into myGraph values(11, 2);
insert into myGraph values(11, 9);
insert into myGraph values(11, 10);
insert into myGraph values(7, 11);
insert into myGraph values(7, 8);
insert into myGraph values(8, 9);
insert into myGraph values(3, 8);
insert into myGraph values(3, 10);

 * sqlite:///lab1.db3
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

# Display all rows and columns

In [5]:
%%sql
SELECT * FROM myGraph

 * sqlite:///lab1.db3
Done.

[(5, 11), (11, 2), (11, 9), (11, 10), (7, 11), (7, 8), (8, 9), (3, 8), (3, 10)]

# Q3: return all sources vertices

In [6]:
%%sql
select source from myGraph

 * sqlite:///lab1.db3
Done.

[(5,), (11,), (11,), (11,), (7,), (7,), (8,), (3,), (3,)]

# Q4: return all destinations, where source id is larger than the destination id

In [7]:
%%sql
select destination from myGraph
where source > destination

 * sqlite:///lab1.db3
Done.

[(2,), (9,), (10,)]

# Q5: add a column of weight to each link on the direct graph

In [8]:
%%sql
alter table myGraph
add weight int

 * sqlite:///lab1.db3
Done.

[]

In [9]:
%%sql
select * from myGraph

 * sqlite:///lab1.db3
Done.

[(5, 11, None),
 (11, 2, None),
 (11, 9, None),
 (11, 10, None),
 (7, 11, None),
 (7, 8, None),
 (8, 9, None),
 (3, 8, None),
 (3, 10, None)]

# Q6: randomly assign a weight(1-10) to each of the link

In [10]:
%%sql
select ABS(random()) % (10) + 1

 * sqlite:///lab1.db3
Done.

[(2,)]

In [11]:
%%sql
update myGraph
set weight = ABS(random()) % (10) + 1

 * sqlite:///lab1.db3
9 rows affected.

[]

In [12]:
%%sql
select * from myGraph

 * sqlite:///lab1.db3
Done.

[(5, 11, 5),
 (11, 2, 2),
 (11, 9, 4),
 (11, 10, 5),
 (7, 11, 6),
 (7, 8, 1),
 (8, 9, 10),
 (3, 8, 9),
 (3, 10, 3)]

# Q7: return the distinct values of weights

In [13]:
%%sql
select DISTINCT weight from myGraph

 * sqlite:///lab1.db3
Done.

[(5,), (2,), (4,), (6,), (1,), (10,), (9,), (3,)]